body {
    font-family: 'Josefin Sans', sans-serif;
}

.cstmNav {
    background-color: #FFE8E0;
    box-shadow: none;
}

.cstmNavBar {
    width: 960px;
    height: 55px;
}

/* .cstmNavLink {
    color: white;
} */


.cstmContainer {
    border-color: #FFE8E0;
    border-style: solid;
    border-width: 2px;
    width: 960px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    
}

h3 {
    font-weight: 700;
    color: #B2958B;
}

.cstmOverlay {
    background-color: rgba(178, 149, 139, 0.705);
}

.cstmImg {
    opacity: 0.7;
}

/* .cstmFormBox:active {
    border-color: #B2958B;
    box-shadow: rgba(178, 149, 139, 0.425);
} */


/* needed to use !important to override Bootstrap's !importants*/
.cstmButton {
    color: #B2958B!important;
    border-color: #B2958B!important;
    text-transform: none;
    box-shadow: none!important;
}

.cstmButton:hover {
    background-color: #B2958B!important;
    border-color: #B2958B!important;
    color: white!important;
}

.cstmButton:focus {
    background-color: #B2958B!important;
    border-color: #B2958B!important;
    color: white!important;
}

.cstmButton:active {
    color: #B2958B!important;
    border-color: #B2958B!important;
}


.cstmFooter {
    background-color: #FFE8E0!important;
    color: #000!important;
}
